<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/save_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/save_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Save">

        <!-- Splash Activity as Launcher (shows first) -->
        <activity
            android:name="Activities.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity (shows after splash) -->
        <activity
            android:name="Activities.MainActivity"
            android:exported="false" />

        <activity
            android:name="Activities.LoginActivity"
            android:exported="false" />

        <activity
            android:name="Activities.AdminregActivity"
            android:exported="false" />

        <activity
            android:name="Activities.MemberregActivity"
            android:exported="false" />

        <activity
            android:name="Activities.SignupActivity"
            android:exported="false" />

        <activity
            android:name="Activities.AdminmainActivity"
            android:exported="false" />

        <activity
            android:name="Activities.ResetPasswordActivity"
            android:exported="false" />

        <activity
            android:name="Activities.DailyTasksActivity"
            android:exported="false"
            android:parentActivityName="Activities.AdminmainActivity"
            android:theme="@style/Theme.Save" />



    </application>

</manifest>