<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@drawable/save_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/save_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Save">

        <!-- Splash Activity as Launcher (shows first) -->
        <activity
            android:name="com.example.save.ui.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity (shows after splash) -->
        <activity
            android:name="com.example.save.ui.activities.OnboardingActivity"
            android:exported="false" />

        <activity
            android:name="com.example.save.ui.activities.LoginActivity"
            android:exported="false" />

        <activity
            android:name="com.example.save.ui.activities.AdminLoginActivity"
            android:exported="true"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name="com.example.save.ui.activities.MemberMainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.save.ui.activities.MemberRegistrationActivity"
            android:exported="true" />
        <activity
            android:name="com.example.save.ui.activities.AdminSignupActivity"
            android:exported="true" />

        <activity
            android:name="com.example.save.ui.activities.AdminMainActivity"
            android:exported="false" />

        <activity
            android:name="com.example.save.ui.activities.ResetPasswordActivity"
            android:exported="false" />

        <activity
            android:name="com.example.save.ui.activities.SettingsActivity"
            android:exported="false"
            android:parentActivityName="com.example.save.ui.activities.AdminMainActivity" />

        <activity
            android:name="com.example.save.ui.activities.DailyTasksActivity"
            android:exported="false"
            android:parentActivityName="com.example.save.ui.activities.AdminMainActivity"
            android:theme="@style/Theme.Save" />

        <activity
            android:name="com.example.save.ui.activities.ChangePasswordActivity"
            android:exported="false" />



    </application>

</manifest>